@import url('./main-layout.css');
@import url('./views/home-view.css');
@import url('./views/profile-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('@fontsource/open-sans');    html {
      --lumo-success-color: rgb(191, 140, 0);
      --lumo-success-color-50pct: rgba(191, 140, 0, 0.5);
      --lumo-success-color-10pct: rgba(191, 140, 0, 0.1);
      --lumo-primary-color: rgb(18, 74, 0);
      --lumo-primary-color-50pct: rgba(18, 74, 0, 0.5);
      --lumo-primary-color-10pct: rgba(18, 74, 0, 0.1);
      --lumo-primary-text-color: rgb(18, 74, 0);
      --lumo-success-text-color: rgb(191, 140, 0);
--lumo-font-family: Open Sans;

    }

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}
